{% extends 'LMS/base.html' %}

{% block title %}{{ test.title }}{% endblock %}

{% block content %}
<h2>{{ test.title }}</h2>
тип теста: {{ test.test_type }}<br>
случайный порядок: {{ test.shuffle }}<br>

окончание в {{ deadline|date:"H:i:s" }}<br>
{% for question_answer in question_answers %}
<div id="button-list">
<button onclick="retrieveQuestion({{ question_answer.id }})">{{ forloop.counter }}</button>
</div>
{% endfor %}
<hr>

<div id="info"></div>
<hr>
<button onclick="finishTest({{test_result.id}}, {{test.id}})">Завершить тест</button>

<script src="/static/LMS/base.js"></script>
<script src="/static/LMS/test.js"></script>
<script>
    window.onload = function() {
        retrieveQuestion({{ current_question_answers.id }});
    };
</script>
{% endblock %}